body, html {
	font-family: helvetica, arial;
	background-color: #535555;
	height: 100%;
	
}

#root {
	width: 800px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
}

/* typography */
strong {font-weight: bold;}

/* head */
#head {
	padding: 20px;
	background-color: #c23d7f;
}

#logo {
	font-size: 42px;
	color: #4da5d6;
	font-weight: bold;
	text-transform: uppercase;
}


/* content */
#content {
	padding: 20px;
}

#content p, #content img {
	margin-bottom: 20px;
}