body, html {
	font-family: helvetica, arial;
	background-color: #535555;
}

#root {
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
}

/* utility */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* typography */
strong {font-weight: bold;}

h1, h2 {
	font-size: 22px;
	margin-bottom: 20px;
}

/* head */
#head {
	padding: 20px;
	background-color: #c23d7f;
}

#logo {
	font-size: 42px;
	color: #4da5d6;
	font-weight: bold;
	text-transform: uppercase;
}


/* content */
#content {
	padding: 20px;
}

#content p, #content img {
	margin-bottom: 20px;
}

#stock {
	width: 200px; 
	float: left;
}

#company_chart {
	width: 740px; 
	height: 400px;
	float: left;
}



